/*** General ***/
body {
  background-color: #f4f5f6;

  /* background-color: f4f5f6; */
}

.pt-7 {
  padding-top: 4rem !important;
}

@media only screen and (min-width: 992px) {
  .pt-7 {
    padding-top: 10.5rem !important;
  }
}

@media only screen and (min-width: 720px) {
  .w-md-50 {
    width: 50%;
    margin: 0 auto;
  }

  .w-md-60 {
    width: 60%;
  }

  .border-md-bottom {
    border-bottom: 2px solid #eee;
    padding-bottom: .5rem;
  }
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem !important;
  font-weight: bold;
  color: #9a9a9a;
}

h3 {
  font-size: 1.1rem !important;
  font-weight: bold;
}

h4 {
  font-size: 0.9rem !important;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem !important;
  }
  
  h3 {
    font-size: 1.3rem !important;
  }
  
  h4 {
    font-size: 1.2rem !important;
  }
}

/*** Header ***/

header nav {
  background-color: #ff0500;
}

nav .logo {
  width: 8rem;
}

@media only screen and (min-width: 992px) {
  nav .logo {
    width: 25rem;
  }
}

header nav .main-links-sm {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 992px) {
  header nav .main-links-lg {
    width: 93%;
    position: absolute;
    bottom: -25px;
  }
}

header .nav-link {
  font-size: 1.25rem;
  padding-top: 0 !important;
}

@media only screen and (min-width: 992px) {
  header .nav-link {
    padding: 0.5rem 0 !important;
    font-size: 1rem;
  }
}

header .secondary-links .nav-link {
  font-size: 0.8rem;
  padding-right: 1.5rem !important;
}

header nav .fa-chevron-right {
  font-size: 0.75rem;
}

header nav .login {
  font-size: 1rem;
}

header li a {
  color: black !important;
}

header nav .icon-input {
  position: relative;
  font-size: 1.2rem;
}

@media only screen and (min-width: 992px) {
  header nav .icon-input {
    width: 5rem;
  }
}

header .icon-input i {
  position: absolute;
  right: 0;
  bottom: 25%;
}

header nav .separator {
  height: 22px;
  width: 1px;
}

header nav .trapezoid {
  border-bottom: 43px solid white;
  border-right: 25px solid transparent;
  height: 0;
  width: 25px;
}

header .white-space {
  width: 100%;
  height: 25px;
}

/*** Main ***/
main article .boxed {
  position: relative;
}

main .boxed figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff0500;
  text-transform: uppercase;
}

main .culture figcaption {
  background-color: #c2d4d7;
  font-size: .75rem;
}

main p {
  font-size: .8rem;
  line-height: 1.1rem;
}

@media only screen and (min-width: 768px) {
  main p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  main .debate p {
    font-size: .8rem;
    line-height: 1.1rem;
  }
}

main .debate .wrapper {
  border-top: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
}

main .debate .line {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 3px;
}

main .debate .vs-wrapper {
  position: relative;
}

main .debate .vs {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main .opinion .wrapper:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

main .more-stories .wrapper {
  border-top: 1px solid #ccc;
}

main .logo {
  background-color: #ff0500;
}

main .btn-danger {
  background-color: #ff0500;
}

main .magazine .btn-danger {
  padding: 1px 5px!important;
}

main .magazine .text-danger,
main .subscribe h2,
main .newsletter h2 {
  color: #ff0500;
}

main .subscribe .top-image {
  top: 10%;
  left: 50%;
}

main .subscribe i {
  font-size: .5rem;
}

main .newsletter .card-img-top {
  height: 150px;
  object-fit: cover;
}

main .newsletter h1 {
  color: black;
}

@media only screen and (min-width: 768px) {
  main .magazine h1 {
    font-size: 1rem;
  }
}

/* @media only screen and (min-width: 768px) {
  .rows {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    align-items: flex-start;
    grid-auto-flow: dense;
  }
} */

