header nav {
  background-color: #ff0500;
}

nav .logo {
  width: 8rem;
}

@media only screen and (min-width: 992px) {
  nav .logo {
    width: 25rem;
  }
  header nav .main-links {
    width: 93%;
    position: absolute;
    bottom: -25px;
    border-bottom: 1px solid blue;
  }
  nav .nav-link {
    padding: .5rem 0!important;
    font-size: 1.1rem;
  }
}

header nav .fa-chevron-right {
  font-size: .75rem;
}

header nav .login {
  font-size: 1rem;
}

header li a {
  color: black!important;
}

header nav .icon-input {
  position: relative;
  width: 5rem;
  font-size: 1.2rem;
}

header .icon-input i {
  position: absolute;
  right: 0;
  bottom: 25%;
}

header nav .separator {
  height: 22px;
  width: 1px;
}

header nav .trapezoid {
	border-bottom: 43px solid white;
	border-right: 25px solid transparent;
	height: 0;
	width: 25px;
}

/* header .main-links li {
  border-left: 1px solid #;
} */



